* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body,
html {
  height: 100%;
  margin: 0;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
a {
  text-decoration: none;
}
.shopinfo {
  grid-column: 1 / span 3;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.shopinfo h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.shopinfo p {
  font-size: 1.1rem;
  color: #666;
}
.smallProduct {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.2s;
  margin: 10px;
}

.smallProduct:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.productDesc {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.pris {
  font-size: 1.1rem;
  color: #666;
}

.discount {
  margin-top: 5px;
  font-size: 1rem;
  color: #f4511e;
}
.rrabat {
  margin-left: 2px;
}
.soldout {
  border: 1px solid #ccc;
  background-color: #efefef;
  opacity: 0.5;
  pointer-events: none;
}
.soldout-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #efefef;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  pointer-events: none;
}
.Backbutton {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1.1rem;
}

.Backbutton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0;
  color: #222;
}
